<% 

    const isFav = user.favoriteBoards && user.favoriteBoards.some(favId => favId.toString() === board._id.toString());

%>

<div class="card-board-wrapper">
    <a href="/board/<%= board._id %>" class="card-board" title="<%= board.title %>">
        <div>
            <div class="color" style="background-color: <%= board.color %>;"></div>
            <p><%= board.title %></p>
        </div>
    </a>
    <button type="button" class="favorite" title="Favoritar" onclick="toggleFavorite('<%= board._id %>', this)">
        <img src="./assets/icons/<%= isFav ? "star-on.svg" : "star-off.svg" %>">
    </button>
</div>

<script>
    async function toggleFavorite(boardId, btnElement) {
        try {
            const img = btnElement.querySelector('img');
            const response = await fetch(`/board/${boardId}/favorite`, { method: 'POST' });
            const data = await response.json();

            if (data.success) {
                if (data.isFavorite) {
                    img.src = "./assets/icons/star-on.svg"
                } else {
                    img.src = "./assets/icons/star-off.svg"
                }
            }
        } catch (error) {
            showToast("Erro ao favoritar o board. Recarregue a página.", "error");
        }
    }
</script>