<div id="members-modal" class="modal-overlay" style="display: none">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Gerenciar Membros</h2>
      <i
        class="ri-close-line close-modal-btn"
        onclick="closeModal();"
      ></i>
    </div>

    <div class="modal-scroll-area">
      <div
        class="members-list-container"
      >
        <% board.members.forEach(member => { %>
            <% if (member.user) { %>
                <% const isOwner = board.owner.toString() === member.user._id.toString(); %>
                <% const isAdminLogado = (myRole === 'admin'); %>

                <div class="member-row">
                    <div class="member-detail">
                        <div class="avatar-circle" title="<%= member.user.username %>">
                            <%= member.user.name.charAt(0).toUpperCase() %>
                        </div>
                        <div>
                            <p class="name">
                                <%= member.user.name %> 
                                <% if(isOwner) { %> <span style="font-size: 10px; background: #ebecf0; padding: 2px 5px; border-radius: 4px;">DONO</span> <% } %>
                            </p>
                            <p class="email"><%= member.user.email %></p>
                        </div>
                    </div>

                    <div class="select-wrapper">
                        <% if (isAdminLogado && !isOwner) { %>
                            <select onchange="handleUpdateMemberRole('<%= board._id %>', '<%= member.user._id %>', this.value)" class="input-form">
                                <option value="admin" <%= member.role === 'admin' ? 'selected' : '' %>>Admin</option>
                                <option value="editor" <%= member.role === 'editor' ? 'selected' : '' %>>Editor</option>
                                <option value="observer" <%= member.role === 'observer' ? 'selected' : '' %>>Obs.</option>
                            </select>

                            <i class="ri-delete-bin-line" 
                                onclick="handleRemoveMember('<%= board._id %>', '<%= member.user._id %>')"
                                title="Remover do quadro"></i>

                        <% } else { %>
                            <span>
                                <%= member.role %>
                            </span>
                        <% } %>
                    </div>
                </div>
            <% } %>
        <% }) %>
    </div>
    </div>

    <div class="modal-actions">
        <% if (myRole !== "observer") { %>
            <button class="btn-primary" onclick="document.getElementById('members-modal').style.display='none'; openInviteModal()">
                <i class="ri-user-add-line"></i> Convidar Novo Membro
            </button>
        <% } %>
    </div>
  </div>
</div>

<script src="/js/members-modal.js"></script>
