<div class="card" data-position="<%= card.position %>" data-card-id="<%= card._id %>" data-card-json="<%= JSON.stringify(card) %>" onclick="openEditModal(this, '<%= myRole %>')">
    <% if (card.coverImage) { %>
        <div class="card-cover" style="background-image: url('<%= card.coverImage %>'); ">
        </div>
    <% } %>

    <div class="card-content">
    
        <div class="card-labels">
            <% if (card.labels && card.labels.length > 0) { %>
                <% card.labels.forEach(color => { %>
                    <span class="label" style="background-color: <%= color %>;"></span>
                <% }) %>
            <% } %>
        </div>

        <h3><%= card.title %></h3>

        <div class="details-wrapper">
            <!-- Descricao, Checklist, Data de entrega e anexos -->
            <div class="badges">
                <!-- Descrição -->
                <% if (card.description && card.description.trim().length > 0) { %>
                    <span title="Este cartão tem uma descrição">
                        <i class="ri-align-left"></i>
                    </span>
                <% } %>


                <!-- CheckList -->
                <% if (card.checklist && card.checklist.length > 0) { 
                    const doneCount = card.checklist.filter(item => item.done).length;
                    const totalCount = card.checklist.length;
                %>
                    <div class="deadline" style="<%= doneCount === totalCount ? 'background: #61bd4f; color: white; padding: 2px 4px; border-radius: 3px;' : '' %>">
                        <i class="ri-checkbox-line"></i> <%= doneCount %>/<%= totalCount %>
                    </div>
                <% } %>

                <!-- Data de entrega -->
                <% if (card.dueDate) { 
                    const now = new Date();
                    const due = new Date(card.dueDate);
                    
                    // Verifica se está atrasado
                    const isLate = due < now && (due.toDateString() !== now.toDateString());

                    // Formata para "30 de jan"
                    let dateStr = due.toLocaleDateString('pt-BR', { 
                        day: 'numeric', 
                        month: 'short' 
                    });

                    // O formato 'short' no Brasil geralmente retorna "30 de jan."
                    dateStr = dateStr.replace('.', ''); 
                %>
                    <span class="badge-date <%= isLate ? 'badge-late' : '' %>" title="Data de entrega">
                        <i class="ri-time-line"></i> <%= dateStr %>
                    </span>
                <% } %>

                <!-- Anexos -->
                <% if (card.attachments.length > 0) { %>
                    <span>
                        <i class="ri-attachment-2"></i>
                        <%= card.attachments.length %>
                    </span>
                <% } %>
            </div>

            <!-- Membros -->
            <div class="card-members">
                <% if (card.assignees && card.assignees.length > 0) { %>
                    <% card.assignees.forEach((user, index) => { %>
                        <% 
                            const names = user.name.trim().split(" ");
                            let initials = names[0].charAt(0).toUpperCase();
                            const userName = user.name || 'Usuário'
                            
                            if (names.length > 1) {
                                initials += names[names.length - 1].charAt(0).toUpperCase();
                            }
                        %>
                        
                        <div class="card-member-ball" title="<%= userName %>">
                            <%= initials %>
                        </div>
                    <% }) %>
                <% } %>
            </div>

        </div>

    </div>

</div>